<!doctype html>
<!--[if IE 8]>
<html lang="" class="ie8 no-js">
<![endif]-->
<!--[if IE 9]>
<html lang="" class="ie9 no-js">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title><%= projectName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bundles/global.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<section id="<%= projectNameKebabCase %>-app" class=""></section>
	<!-- scripts -->
	<script src="bundles/global.min.js"></script>
	<script src="js/app.debug.js"></script>
</body>
</html>
